.board-row .square{
    height: 34px;
    float: left;
    width: 34px;
    text-align: center;
    font-size: 24px;
    padding: 0;
    margin-right: -1px;
    margin-top: -1px;
    background: #fff;
    border: 1px solid #dedede;
}
.game-board{
    width: 100px;
}
.game{
    display: flex;
    flex-direction: column;
}