.registerForm{
    text-align: left;
    
}
.registerForm form input{
    padding: .5rem;
}
form{
    display: flex;
    flex-direction: column;
    
}
.checkboxContainer{
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
    margin-top: .5rem;
}
.checkboxContainer input{
    margin-bottom: 0 !important;
    margin-right: .4rem;
}
.checkboxContainer span{
    font-size: .7rem;
}
.registerForm input{
    margin-bottom: .5rem;
}
.registerForm form button{
    margin-bottom: .5rem;
}
.error{
    color: red;
    font-size: .8rem;
    margin-bottom: .5rem;
}